---
name: test

on:
    push:
        branches:
        -   main
    pull_request:
        branches:
        -   '*'
    schedule:
    -   cron: 0 8 1 * *
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# Force to use color
env:
    FORCE_COLOR: true

jobs:

    test:

        name: Test with ${{ matrix.py }} on ${{ matrix.os }} - ${{ matrix.env }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                py: ['3.13', '3.12', '3.11']
                os: [ubuntu-latest]
                env: [test, dev]
        steps:
        -   uses: actions/checkout@v6
        -   name: Install the latest version of uv
            uses: astral-sh/setup-uv@v7
        -   name: Setup python
            uses: actions/setup-python@v6
            with:
                python-version: ${{ matrix.py }}
        -   name: Install tox
            run: uv tool install tox --with=tox-uv --with=tox-gh-actions
        -   name: Show tox config
            run: tox c
        -   name: Run test suite
            run: |
                tox run --list-dependencies -e ${{ matrix.env }}
